[submodule "verl"]
	path = verl
	url = https://githubfast.com/volcengine/verl.git
[submodule "external/webshop-minimal"]
	path = external/webshop-minimal
	url = https://githubfast.com/ZihanWang314/webshop-minimal.git
